// #profile-page {
//   background: url("../../img/dark-honeycomb.png");
//   height: 30%;
//   background-size: cover;

//   ion-avatar {
//     margin: auto;
//     z-index: 2;
//     border: 5px solid #fff;
//     bottom: -70px;
//     width: 160px;
//     height: 160px;
//     position: relative;
//   }
//   .bio {
//     ion-card {
//       width: 100%;
//       max-height: 100vh;
//       --background: #fff;
//       margin: 0;
//       z-index: 1;
//       border-radius: 0;
//       box-shadow: none;

//       ion-card-content {
//         padding: 20% 0 0 0;
//         overflow: auto;
//       }
//     }
//   }

//   ion-icon {
//     color: white;
//   }
//   ion-button {
//     --border-radius: 0px;
//   }
//   ion-segment-button {
//     --border-style: none none solid none;
//     --border-radius: 0;
//     --background-activated: none;
//     --background-checked: none;
//     --color-checked: black;
//     --color-activated: black;
//   }
// }

#profile-page {
  background: #fff none repeat scroll 0 0;
  height: 100%;

  .profile-bg {
    background-image: url("https://pbs.twimg.com/profile_banners/50988711/1384539792/600x200");
    background-position: 0 50%;
    background-size: 100% auto;
    height: 120px;
    width: 100%;
  }

  .bg-block {
    display: block;
  }

  ion-avatar {
    border: 2px solid #000;
    color: #fff;
    height: 200px;
    width: 200px;
    margin: -68px auto 10px;
  }
}
