#profile-page {
  display: flex;
  flex-wrap: wrap;

  .bio {
    margin-top: 50px;
    width: 100%;
    .bio-card {
      margin-top: 0px;
      .card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    .avatar {
      border: 3px solid #ccc;
      bottom: -20px;
      width: 150px;
      height: 150px;
      position: relative;
      margin: auto;
    }
  }
}
